@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* 400 600 700 */

:root {
    --white: #fff;
    --grey: #333;
    --dark-grey: #1f1f1f;
    --off-black: #141414;
    --green: #c5f82a;
    --blue: #3e52a3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--off-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
    border-radius: 10px;
    padding: 15px;
    margin-top: auto;
    width: 280px;
}

#container img {
    width: 80px;
    border-radius: 50px;
    margin-bottom: 20px;
}

#container h1 {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--white);
}

#container h2 {
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--green);
}

#container .description {
    font-size: 12px;
    color: var(--white);
    margin-bottom: 20px;
    padding: 0 10px;
}

#container .button {
    background-color: var(--grey);
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    /* padding: 15px 0; */
    padding: 10px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;

}

#container .button:hover {
    background-color: var(--green);
    color: var(--off-black);
    font-weight: 600;
}

#container .button:last-child {
    margin-bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--white);
    margin: auto 0 10px;
}

.attribution a {
    text-decoration: none;
    color: var(--blue);
    transition: .3s;
}

.attribution a:hover {
    color: var(--white);
    text-decoration: underline;
}

@media(min-width: 350px) {
    #container {
        width: 330px;
        padding: 20px;
        margin-top: 10px;
    }

    #container img {
        width: 100px;
    }

    #container h1 {
        font-size: 24px;
    }

    #container h2 {
        font-size: 14px;
    }

    #container .description {
        font-size: 14px;
    }

    #container .button {
        padding: 15px 0;
    }
}

@media(min-width: 700px) {
    #container {
        margin-top: auto;
    }
}